{% extends 'base.html.twig' %}

{% block title %}Mes adresses{% endblock %}

{% block content %}
    <a href="{{ path('account_address_form') }}" class="btn btn-info btn-sm float-end">Ajouter une adresse</a>
    <h1>Mes adresses</h1>
    Dans cet espace vous pouvez gérer toutes vos adresses.<br>
    <a href="{{ path('account')}}">Retour</a>
    <hr>
    {% if app.user.addresse|length == 0 %}
        <p class="text-center">
        Vous n'avez pas encore ajouté d'adresse dans votre compte client, veuillez <a href="{{ path('account_address_form') }}">cliquer ici</a>.
        </p>
    {% else %}
        <div class="row">
            {% for address in app.user.addresse %}
                <div class="col-md-4">
                    <div class="card" style="width: 18rem;">
                        <div class="card-body">
                            <h5 class="card-title">{{ address.name }}</h5>
                            <p class"card-text">
                            {{ address.adress }},<br>
                            {{ address.postal }} - {{ address.city }} - {{ address.country }}
                            </p>                            
                            <a href="{{ path('account_address_edit', {'id': address.id}) }}">Modifier</a> | <a href="{{ path('account_address_delete', {'id' : address.id}) }}">Supprimer</a>
                        </div>
                    </div>
                </div>
            {% endfor %}
        </div> 
    {% endif %}
    <hr>    
    
{% endblock %}